h1{
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aqua;
}

.t{
    background-color: rgb(187, 105, 105);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 45%;
    
}

render{
    background-color: blue;
}
body{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}